<div class="main-content-header">
  <h1>Printer</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%=  %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%=  %>">Settings</a>
    </li>
    <li class="breadcrumb-item active">
      <span class="active">Printer</span>
    </li>
  </ol>
</div>
<!-- End Main Content Header -->
<div class="alert alert-dismissible fade show text-white jquery-selected-alert d-none " style="position: fixed; width:93%; z-index:99999;" role="alert"></div>
<div class="row">
  <div class="col-xl-12">
    <div class="card mb-30">
      <div class="card-body">
        
      </div>
    </div>
  </div>
</div>